import(rJava, xts, stringr)
useDynLib(javaHeclib)
export(opendss, 
       OLDgetPaths,
       getAllPaths, 
	   getPaths, 
       fullPathByWildcard, 
	   pathByPartsWildcard,
	   fullPathByRegex,
	   pathByPartsRegex,
	   tsc.to.xts,
	   hecTime.to.timestamp,
	   getTSC,
	   getFullTSC,
	   getColumnsByName)